*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

body{
    background-image: radial-gradient(#676060,#181414);
    height: 100vh;

}

.navbar{
    height: 60px;
    position: relative;
    top:4%;
    background-color: white;
    padding: 12px;

}
.navbar div{
    display: inline;

}
.navbar img{
    width:100px;
    height:50px;
}

.navbar button{
    float: right;
    
}